<!DOCTYPE html>
<html>
  <head>
   <link rel="icon" type="image/png" href="./images/insta-fav.ico">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
